  * {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  .header {
    box-shadow: inset 0 90px 20px -10px rgba(0,0,0,0.3);
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 90px;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
  }

  a.header-logo {
    padding: 0 90px;
    text-transform: uppercase;    
    color: #e2e0e0;
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
  }

  a:hover.header-logo {
    color: #dab33e;
  }

  .header-navbar {
    display: flex;
  }

  .nav-items {
    display: flex;
    align-items: center;
    padding-left: 100px;
  }
  
  .nav-items > li {
    padding: 0 30px;
  }

  
  .nav-item a {
    color: #e2e0e0;
    font-family: 'Gentium Book Basic', serif;
    font-size: 21px;
  }

  .nav-item a:hover {
    color: #dab33e;
    border-top: 3px solid #d4cfb4;
    padding-top: 29px;
  }
  
  .nav-soclinks a {
    color: #dab33e;
    font-size: 21px;
    padding-right: 16px;
  }

  .nav-soclinks a:hover {
    color: #e2e0e0;
  }

  .promo {
    background: url(../images/Bg3.png) no-repeat fixed; 
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-position: center;
    background-size: cover;
    
    height: 750px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
  }


  .promo h1 {
    color: #f3f3f3;
    font-family: 'Yeseva One', cursive; 
    font-size: 90px;
    font-weight: lighter;
    text-align: center;
    margin: 10px 5px;
  }

  .promo .divider {
    padding: 20px 0;
    align-self: center; 
  }

  .promo .buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .promo .buttons a {
    text-transform: uppercase;
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: lighter; 
  }

  .promo .button-property {
    width: 225px;
    height: 56px;
    line-height: 56px;
    position: relative;
    z-index: 1;
    margin: 20px 30px;
  }

  .promo .button-property::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: -1;
  }
  
  .promo .button-left {
    border: 1px solid black; 
  } 

  .promo .button-left::after {
    background: black;
  }

  .promo .button-right {
    border: 1px solid #d4cfb4;
  } 

  .promo .button-right::after {
    background: #d4cfb4;
  }

  .about {
    background: url(../images/pattern.png) repeat, 
                url(../images/background_about.png) repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-position: center;
    background-size: cover;

    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
  }

  .about .left-content {
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .about .left-content p {
    text-align: center; 
    padding-top: 30px;
    color: #4c4c4c;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
  }

  .about .left-content h6 {
    margin: 10px 0;
    color: #cc9900;
    font-family: 'Yeseva One', cursive; 
    font-size: 36px;
    font-weight: lighter;
  }

  .about .dish {
    padding-left: 0 20px;
    min-height: 100px;
  }

  .about .dish-img {
    align-content: center;
    width: 100%;
    height: auto
  }

  .about .cook {
    padding: 50px 0;
    width: 219px; 
    height: auto;
    margin-left: auto;
    margin-right: 70px; 
  }
  
  
  @media screen and (max-width: 1500px){
    .nav-items a{
      display: none;
    }
  }
  @media screen and (max-width: 620px){
    .promo h1{
      font-size: 50px;
    }
  }

  .reviews {
    background: url(../images/bg6.png) no-repeat fixed; 
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;  
    text-align: center;
    padding-top: 100px;
    padding-bottom: 101px;
  }

  .gdiv {
    background-color: rgba(0, 0, 0, 0.82);
    flex-basis: 770px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .gdiv_header {
    padding-top: 75px; 
    color: white; 
    font-size: 36px; 
    font-family: 'Yeseva One', cursive; 
    font-weight: lighter;
  }

  .gdiv_divider {
    align-self: center;
    height: 30px; 
    width: 300px;
    margin: 20px 0px 36px 0px;
    align-self: center;
  }
  
  .gdiv_text {
    padding-left: 70px; 
    padding-right: 70px; 
    margin-bottom: 100px; 
    color: white; font-size: 22px;
    font-family: 'Yeseva One', cursive; 
    font-weight: lighter; 
    line-height: 200%;
  }
 
.gdiv_text_end {
  color: white; 
  font-family: 'Lato', sans-serif; 
  font-size: 16px;
}

  .reservations {
    background: url(../images/pattern.png) no-repeat,
                url(../images/background2.png) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-position: center;
    background-size: cover;
    padding: 100px 0px 103px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rimg {
  flex-basis: 270px;
  display: flex;
  margin: 15px;
  padding: 0px;
}

.rdiv {
  flex-basis: 570px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 15px;
}

.rdiv_header {
  color: #cc9900;
  font-family: 'Yeseva One', cursive;
  font-size: 36px;
  font-weight: lighter;
}

.rdiv_divider {
  align-self: center;
  width: 250px; 
  height: 25px; 
  margin: 20px 0px 35px 0px;
}

.rdiv_text {
  color: #4c4c4c;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin-bottom: 25px;
  padding: 0px 70px 0px 70px;
}

.rform {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 50px 0px 50px;
}

.rfdiv {
  text-align: left;
  margin: 0px 15px 30px 15px;
}

.rflabel, .rfinput {
  display: block;
}

.rflabel {
  color: #cc9900;
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: bold;
}

.rfinput {
  width: 184px;
  height: 36px;
  padding-left: 16px;
  border: 1px solid #c8c6c6;
  outline: none;
}

.rfselect {
  width: 200px;
  height: 36px;
  border: 1px solid #c8c6c6;
  padding-left: 10px;
  outline: none;
}

.rfselect:focus, .rfinput:focus {
  border: 1px solid #cc9900;
}

.rfinput::placeholder, .rfselect:required:invalid {
  font-style: italic;
  color: #7c7c7c;
}

.rfsoption {
  color: black;
  font-style: normal;
  padding-left: 10px;
}

#date {
  width: 154px;
  padding-right: 30px;
  background: url(../images/cal.png) no-repeat right;
  background-size: 25px;
}

#but {
  width: 200px;
  height: 36px;
  background-color: #c9a131;
  color: white;
  font-family: 'Open Sans';
  font-size: 16px;
  border: 0px;
}

@media screen and (max-width: 640px){
  .rimg {
     display: none;
  }
}

footer {
  padding-top: 52px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #191919;
}

.fdiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 390px;
  text-align: center;
  margin: 20px 0px 30px 0px;
}

.fdiv_header {
  color: #f3f3f3;
  font-family: 'Yeseva One', cursive;
  font-size: 21px;
  font-weight: lighter;
}

.fdiv_divider {
  margin: 10px 0px 12px 0px;
  align-self: center;
  height: 20px; 
  width: 200px;
}

.fdiv_text {
  color: #f3f3f3;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.fdiv_icons {
  display: flex;
  justify-content: center;
}

.ficon {
  color: #f3f3f3;
  font-size: 16px;
  margin: 50px 5px 0px 5px;
    
}

body {
  overflow-x: hidden;
}
