.ingredients
{ 
    background-image: url(../images/bg5.png) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-basis: auto;  
    
    width: 100%;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 101px;
    padding-left: 15px;
    padding-right: 15px;

}

.ing_flex{
  display: flex;
  flex-basis: 80%;
  justify-content: flex-end;
  padding-right: 100px;
}

.ingredients_text
{
  position: relative;
  display: inline-block; 
  vertical-align: middle;
  text-align: center;
  color: white;
  padding: 0px 70px 65px 70px;
  max-width: 430px;
  width: 50%;
  background-color : rgba(0, 0, 0, 0.7);
}

.ingredients_paragraph
{
  padding-bottom: 30px;
  margin-top: 25px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: white; 
  font-weight: lighter; 
  line-height: 120%;
}

.ingredients_header
{
  padding-top: 70px;
  margin-bottom: 15px;
  font-size: 36px;
  font-family: 'Yeseva One', cursive;
  font-weight: lighter;
}


.ingredients_images 
{
  justify-content: center;
  flex-wrap: wrap;
  vertical-align: middle;
  padding-bottom: 10px;
  margin: 0px 10px 0px 10px
}

.menu
{ 
    background-image: url(../images/pattern1.png),
                      url(../images/background.png);
    background-attachment: scroll;
    background-repeat: repeat;
    background-size: cover;

    padding: 100px 0px 100px 0px;
    text-align: center;
    width: 100%;
    height: fit-content;
}

.m_half {
  display: inline-block;
  vertical-align: top;
  max-width: 460px;
  width: 50%;
  height: fit-content;
  text-align: center;
  margin: 0 15px 50px 15px;
  padding: 0px 55px 0px 55px;
}

.m_hder {
  text-align: center;
  max-width: 460px;
  width: 100%;
  height: fit-content; 
}

.m_hder_txt {
  margin-top: 50px;
  font-size: 36px; 
  font-family: 'Yeseva One', cursive; 
  color: #cc9900; 
  font-weight: lighter;
}

.m_div {
  max-width: 240px; 
  width: 100%;
  margin-top: 15px;
}

.m_spc {
  max-width: 460px;
  width: 100%;
  height: 20px;
  text-align: right;
}

.m_spc_txt {
  
  font-size: 16px; 
  font-family: 'Lato', sans-serif; 
  font-weight: lighter;

  background-color: #cdaa46;
  vertical-align: middle;
  color: white;
  width: 70px;
  height: 20px;

  display: inline-table;
  text-align: center;
}

.m_cnt {
  padding-top: 30px;
}

.m_cnt_up {
  max-width: 460px;
  width: 100%;
  height: fit-content;
  font-size: 24px;
  font-weight: lighter;
  font-family: 'Yeseva One', cursive;
  color: #cc9900;
}

.m_name {
  width: 48%;
  display: inline-block;
  height: fit-content;
  text-align: left;
}

.m_price {
  width: 48%;
  display: inline-block;
  height: fit-content;
  text-align: right;
}

.m_line {
  max-width: 430px;
  width: 100%;
  height: fit-content;
  vertical-align: center;
  text-align: center;
}

@media screen and (max-width: 900px){
  .m_line {
     display: none;
  }

}

.m_cnt_dwn {
  max-width: 460px;
  width: 100%;
  padding: 10px;
}

.m_txt {
  font-size: 16px; 
  font-family: 'Lato', sans-serif; 
  font-weight: lighter;
  text-align: left;
}

.spc {
  border: 1px solid #cdaa46;
  padding-top: 10px;
}